<% content_for :title, '新しいパスワードの登録' %>

<div class="container mt-5" style="max-width: 400px;">
  <h1 class="mb-4">新しいパスワードの登録</h1>

  <p class="mb-4">
    パスワードの再登録が完了しました。
  </p>

  <div class="d-grid mb-3">
    <%= link_to 'ログイン', login_path, class: 'btn btn-alt btn-lg' %>
  </div>
</div>
