<div class="container mt-5" style="max-width: 400px;">
  <h1 class="mb-4">パスワード再発行</h1>

  <p class="mb-4">
    パスワード再発行の案内メールを送信しました。<br>
    受信メールを確認してください。
  </p>

  <div class="d-grid mb-3">
    <%= link_to 'トップページへ', login_path, class: 'btn btn-alt btn-lg' %>
  </div>

</div>
