<% content_for :title, t(".title") %>

<div class="container vertical-spacing-lg mt-5 mx-0 mx-md-auto text-md-center" style="max-width: 600px;">
  <h2 class="mb-4"><%= t(".title") %></h2>

  <p class="mb-4">
    パスワード再発行の案内メールを送信しました。<br>
    受信メールを確認してください。
  </p>

  <div class="d-grid mb-3">
    <%= link_to t("buttons.to_top"), new_session_path, class: 'btn btn-2 btn-lg' %>
  </div>
</div>
