<p><%= @user.email %> 様</p>
<p>===============================================</p>

<p>パスワード再発行のご依頼を受け付けました。</p>

<p>以下のリンクからパスワードを再発行してください。</p>
<p>
  <%= link_to "パスワード再設定", @url %>
</p>

<p>※本メールに心当たりがない場合は破棄してください。</p>
