<% content_for :title, 'アカウント削除' %>

<section class="privacy-policy container my-5 mx-0 mx-md-auto" style="max-width: 1200px;>
  <div class="text-start mb-3">
    <%= link_to 'もどる', (settings_path), class: 'btn btn-2 mb-3' %>
  </div>

  <div class="text-center">
    <h3 class="mb-4">アカウント削除</h3>

    <p>
      アカウント削除を行うページです。誤って削除すると戻すことはできませんので十分ご注意ください。
    </p>
    <%= link_to "アカウントを削除する", delete_account_path,
          data: { turbo_method: :delete, turbo_confirm: "アカウントの復旧はできません。本当に削除しますか？" },
          class: "btn btn-danger" %>
  </div>