<footer class=\"text-center py-3\">
  <hr class="footer-divider mb-3">
  <div class=\"container\">
    <small class=\"text-muted\">©2025たまごちゃん育成ゲーム</small>
    |
    <small>
      <%= link_to 'プライバシーポリシー', '#', class: 'text-muted text-decoration-none' %>
    <small>
  </div>
</footer>
