<footer class=\"text-center py-3\">
  <hr class="footer-divider mb-3">
  <div class=\"container\">
    <small>
      <%= link_to 'ホーム', root_path, class: 'text-muted text-decoration-none', data: { turbo: false } %>
    </small>
    |
    <small>
      <%= link_to 'プライバシーポリシー', privacy_policy_path, class: 'text-muted text-decoration-none' %>
    </small>
    |
    <small>
      <%= link_to '利用規約', term_path, class: 'text-muted text-decoration-none' %>
    </small>
    <br>
    <small class=\"text-muted\">©ニワトリとタマゴのワクワク生活</small>
  </div>
</footer>
