<div class="friendship pe-1 pe-md-2 pe-lg-4" >
  <span class="label">friendship:</span>
  <span class="value">
  <% if @play_state.current_event.event_set.name == "イントロ" &&
        GamesController::INTRO_START_DERIVATION.include?(@play_state.current_event.derivation_number) %>
    ―
    <% else %>
      <%= @user_status.happiness_value * GamesController::FRIENDSHIP_MULTIPLIER %>
    <% end %>
  </span>
</div>
