<div class="text-center text-md-start mb-3 ms-md-3 ms-lg-4 ms-xl-5">
  <%= link_to t("buttons.logout"), session_path,
      data: { turbo_method: :delete, turbo_confirm: t("confirmations.logout") },
      class: "btn btn-2 ms-md-5" %>

  <%= link_to t("buttons.settings"), settings_path, class: "btn btn-2" %>

  <button type="button"
          class="btn btn-2"
          data-action="click->status#open"
          data-bs-toggle="modal"
          data-bs-target="#statusModal">
    <%= t("buttons.status") %>
  </button>
</div>
