<div class="modal fade" id="statusModal" tabindex="-1" aria-hidden="true" data-status-target="modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">ステータス</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="閉じる"></button>
      </div>
      <div class="modal-body">
        <turbo-frame id="status_frame" data-status-target="frame">
        </turbo-frame>
      </div>
    </div>
  </div>
</div>
