$body-bg-color: #FEF5E5 !default;
$primary-btn-bg: #333333 !default;
$primary-btn-color: #ffffff !default;
$alt-btn-bg: #FBE5D6 !default;
$alt-btn-color: #000000 !default;
$link-color: $primary-btn-bg !default;
